/**
*/
.widefat thead [class*="-qef-thumbnail "],
.widefat thead [class$="-qef-thumbnail"] {
	width:80px;
}
.acf-qef-gallery-col {
	position:relative;
	width:80px;
	height:90px;
}
.acf-qef-gallery-col:before,
.acf-qef-gallery-col:after {
	content:'';
	position:absolute;
	left:2px;
	top:2px;
	width:80px;
	height:80px;
	border:2px solid #bbb;
	border-top-style:none;
	border-left-style:none;
}
.acf-qef-gallery-col:after {
	left:6px;
	top:6px;
}

.acf-qef-gallery-col img {
	display:none;
	position:absolute;
	left:0;
	top:0;
}
.acf-qef-gallery-col img:first-child {
	display:block;
}


.inline-edit-row .input-text-wrap .wp-picker-input-wrap input[type="text"] {
	width:65px;
	vertical-align:top;
	margin-right:5px;
}

.inline-edit-row .iris-picker {
	position:absolute;
	z-index:1;
}
/* 
.inline-edit-col a.wp-color-result {
	display: inline-block;
	width:30px;
	height:30px;
	border:1px solid #ccc;
	border-radius:3px;
}
 */