/**
*/
.widefat thead [class*="-qef-thumbnail "],
.widefat thead [class$="-qef-thumbnail"] {
	width:80px;
}
.acf-qef-gallery-col {
	position:relative;
	width:80px;
	height:90px;
}
.acf-qef-gallery-col:before,
.acf-qef-gallery-col:after {
	content:'';
	position:absolute;
	left:2px;
	top:2px;
	width:80px;
	height:80px;
	border:2px solid #bbb;
	border-top-style:none;
	border-left-style:none;
}
.acf-qef-gallery-col:after {
	left:6px;
	top:6px;
}

.acf-qef-gallery-col img {
	display:none;
	position:absolute;
	left:0;
	top:0;
}
.acf-qef-gallery-col img:first-child {
	display:block;
}


#wpbody-content .inline-edit-row fieldset.inline-edit-col-acf {
	width:33%;
	padding:0.5em;
	box-sizing:border-box;
}
.inline-edit-col-right + .inline-edit-col-acf {
	clear:both;
}
#wpbody-content .inline-edit-row fieldset.inline-edit-col-acf .inline-edit-col {
	border:1px solid #ddd;
	padding:0.5em;
}