# git
.gitignore export-ignore
.gitattributes export-ignore
# gulp
gulpfile.js export-ignore
package*.json export-ignore
composer.json export-ignore
/src export-ignore
/test export-ignore
test export-ignore
.babelrc export-ignore
.editorconfig export-ignore
.eslintignore export-ignore
.eslintrc export-ignore
.sassrc export-ignore
.wporg* export-ignore
*.md export-ignore
