@import "variables/index";

// Field group admin

// Headline
.acf-field-setting-list-table-settings-heaadline {
	margin-top: 24px;
	padding-top: 24px;
	border-top:1px solid #EAECF0;
}

// layout tweaks
:not(.acf-field-setting-allow_quickedit) + .acf-field-setting-allow_bulkedit[data-width],
.acf-field-setting-allow_quickedit[data-width] {
	clear:left;
}

// hide fields inside repeatables
[data-name="list-table-settings-heaadline"],
[data-name="show_column"],
[data-name="show_column_weight"],
[data-name="show_column_sortable"],
[data-name="allow_quickedit"],
[data-name="allow_bulkedit"] {
	[data-setting="flexible_content"] &,
	[data-setting="repeater"] & {
		display: none;
	}
}
