

.widefat {
	thead {
		[class*="-qef-thumbnail "],
		[class$="-qef-thumbnail"] {
			width:80px;
		}
	}
	tbody {
		[class*="-qef-thumbnail "],
		[class$="-qef-thumbnail"] {
			img {
				max-width:100%;
				height:auto;
			}
		}
	}
}

.edit-php {
	.acf-error-message {
		clear:both;
	}
}

/**
 *	Columns
 */
.acf-qef-gallery-col {
	position:relative;
	width:80px;
	height:90px;
	&:before,
	&:after {
		content:'';
		position:absolute;
		left:2px;
		top:2px;
		width:80px;
		height:80px;
		border:2px solid #bbb;
		border-top-style:none;
		border-left-style:none;
	}
	&:after {
		left:6px;
		top:6px;
	}
	img {
		display:none;
		position:absolute;
		left:0;
		top:0;
		width: 80px;
		height: 80px;
		object-fit: cover;
		&:first-child {
			display:block;
		}
	}
}

.column-_acf_qed_ghost {
	display:none;
}
.acf-qef-value-list {
	margin-top:0;
	margin-bottom:0;
}


.acf-qed-icon {
	display:block;
	img {
		display:block;
		margin: 0 auto;
	}
	&:after {
		content:attr(title);
		font-size:9px;
		line-height:1.4em;
		display:block;
		margin-top:0.5em;
		text-align:center;
	}
}
.color-indicator {
	border-radius:2px;
	border:1px solid #d2d2d2;
	width:24px;
	height:24px;
	&.no-value {
		position:relative;
		&:before {
			content:'';
			transform:rotate(45deg);
			border-radius:2px;
			background-color:rgba(255,40,40,0.9);
			position:absolute;
			left:0;
			top:0;
			width:140%;
			height:2px;
			transform-origin:1px 1px;
		}
	}
}
/**
 *	Editor
 */
.inline-edit-row {
	.acf-field {
	}
	.acf-range-wrap,
	.acf-input-wrap {
		display:block;
		position:relative;
	}
	.acf-input-wrap {
		input {
			&[type="url"],
			&[type="email"],
			&[type="number"],
			&[type="password"] {
				width:100%;
			}
			&[type="radio"],
			&[type="checkbox"] {
				height:16px;
			}
		}
		.wp-picker-input-wrap {
			input {
				&[type="text"] {
					width:65px;
					vertical-align:top;
					margin-right:5px;
				}
			}
		}
	}
	.iris-picker {
//		position:absolute;
		z-index:1;
	}
	[data-field-type="color_picker"] {
		.acf-input-wrap {
			overflow:visible;
		}
		.wp-picker-container {
			[type="button"] {
				// indicate no color
				&:before {
					content: '';
				    transform: rotate(35deg);
				    border-radius: 2px;
				    background-color: rgba(255,40,40,0.9);
				    position: absolute;
				    left: 1px;
				    top: 1px;
				    width: 37px;
				    height: 2px;
				    transform-origin: 1px 1px;
				}
				&[style^="background"] {

					&:before {
						content:none;
					}
				}
			}
			&.wp-picker-active {
				.wp-color-result {

				}
				.wp-picker-input-wrap {
					label {
						margin-top:-2px;
						float:left;
					}
				}
			}
		}
	}

	.acf-quick-edit-file[value=""],
	.acf-quick-edit-image[value=""] {
		& ~ button.remove-media {
			display:none;
		}
	}

	#wpbody-content & {
		fieldset.inline-edit-col-qed {
			border:1px solid #ddd;
			margin-bottom:10px;

			label.inline-edit-group {
				span.title {
					width:100%;
					float:none;
				}
				span.acf-input-wrap {
					margin-left:0;
				}
			}

			legend {
				margin-left:20px;
			}
			& > .acf-field {
				width:31%;
				margin:1%;
				padding:10px;
				float:left;
				box-sizing:border-box;
				border:1px solid #ddd;
				&:nth-of-type(3n+1) {
					clear:left;
				}
				&[data-error-message] {
					border-color:#dd4232;
					&:before {
						content:attr(data-error-message);
						display:block;
						background-color:#F55E4F;
						color:#fff;
						margin:-10px -10px 10px -10px;
						padding:10px;
					}
				}
			}
		}
	}
}
