

.widefat {
	thead {
		[class*="-qef-thumbnail "],
		[class$="-qef-thumbnail"] {
			width:80px;
		}
	}
}

.edit-php {
	.acf-error-message {
		clear:both;
	}
}

/**
 *	Columns
 */
.acf-qef-gallery-col {
	position:relative;
	width:80px;
	height:90px;
	&:before,
	&:after {
		content:'';
		position:absolute;
		left:2px;
		top:2px;
		width:80px;
		height:80px;
		border:2px solid #bbb;
		border-top-style:none;
		border-left-style:none;
	}
	&:after {
		left:6px;
		top:6px;
	}
	img {
		display:none;
		position:absolute;
		left:0;
		top:0;
		width: 80px;
		height: 80px;
		object-fit: cover;
		&:first-child {
			display:block;
		}
	}
}

.column-_acf_qed_ghost {
	display:none;
}
.acf-qef-value-list {
	margin-top:0;
	margin-bottom:0;
}


.acf-qed-icon {
	display:block;
	img {
		display:block;
		margin: 0 auto;
	}
	&:after {
		content:attr(title);
		font-size:9px;
		line-height:1.4em;
		display:block;
		margin-top:0.5em;
		text-align:center;
	}
}

/**
 *	Editor
 */
.inline-edit-row {
	.input-text-wrap {
		[type="url"],
		[type="email"],
		[type="number"],
		[type="password"] {
			width:100%;
		}
		.wp-picker-input-wrap {
			input {
				&[type="text"] {
					width:65px;
					vertical-align:top;
					margin-right:5px;
				}
			}
		}
	}
	.iris-picker {
		position:absolute;
		z-index:1;
	}
	.acf-quick-edit-file[value=""],
	.acf-quick-edit-image[value=""] {
		& ~ button.remove-media {
			display:none;
		}
	}

	#wpbody-content & {
		fieldset.inline-edit-col-qed {
			border:1px solid #ddd;
			margin-bottom:10px;
			
			label.inline-edit-group {
				span.title {
					width:100%;
					float:none;
				}
				span.input-text-wrap {
					margin-left:0;
				}
			}
			
			legend {
				margin-left:20px;
			}
			& > .acf-field {
				width:31%;
				margin:1%;
				padding:10px;
				float:left;
				box-sizing:border-box;
				border:1px solid #ddd;
				&:nth-of-type(3n+1) {
					clear:left;
				}
			}
		}
	}
}


