
$wp-blue: #0085ba;
$wp-blue-light: #00a0d2;
$wp-blue-lighter: #e5f5fa;

$wp-green: #46b450;
$wp-green-lighter: #ecf7ed;

$wp-red: #dc3232;

$wp-yellow: #ffb900;
$wp-yellow-lighter: #fff8e5;

$wp-black: #23282d;

$wp-gray-darkest: #32373c;
$wp-gray-darker: #b4b9be;
$wp-gray-dark: #cccccc;
$wp-gray: #f1f1f1;
$wp-gray-lighter: #f9f9f9;
$wp-gray-lightest: #fafafa;
